{% extends 'base.html' %}
 {% block title %}
    <title>Home</title>
    {% endblock %}

{% block content %}


<div class="container w-75 mt-3 p-5">


{% if book %}
    <h2>Search Books</h2>
    <table class="table table-bordered text-center">
    <tr>
        <th>COVER</th>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>PRICE</th>
        <th>LANGUAGE</th>
        <th>PAGES</th>


    </tr>
    {% for b in book %}
    <tr>
        <td><img src="{{b.image.url}}" height="150px" width="150px"></td>
        <td>{{b.title}}</td>
        <td>{{b.author}}</td>
        <td>{{b.price}}</td>
        <td>{{b.language}}</td>
        <td>{{b.pages}}</td>

    </tr>
    {% endfor %}
</table>
{% else %}
    <h2>No Search Results</h2>

{% endif %}

















</div>






{% endblock %}